body {
  width: 100%;
  background-color: teal;
}

.none {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin: 0 auto;
}

.is-open {
  opacity: 0;
}

.conteiner {
  min-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .conteiner {
    min-width: 768px;
    padding: 0 34px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    max-width: 1280px;
    padding: 0 115px;
  }
}
.header-box {
  padding: 6px 0;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1538461538;
  color: #d41443;
}

.logo__photo {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__menu {
  margin-left: auto;
}
.header__menu-end {
  position: absolute;
  z-index: 1000;
  top: 23px;
  right: 28px;
}

.header__button {
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
}
.header__button svg {
  margin-left: 24px;
}

.header__button-two {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  background-color: #fff;
}

.nav-list {
  display: grid;
  gap: 22px;
}

.nav-list__link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #fff;
}
.nav-list__link--color {
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .header__button-one {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .nav-box {
    padding: 60px 21px;
  }

  .nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: #e17992;
    transform: translate(100%);
    opacity: 0;
    transition: transform 250ms linear, opacity 250ms linear;
  }
  .nav--show {
    transform: translate(0);
    opacity: 1;
  }

  .visually-hidden-two {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .header-box {
    padding: 38px 0;
  }

  .header__menu {
    margin-right: 30px;
  }

  .header__button svg {
    margin-left: 12px;
  }

  .header__button-one {
    width: 160px;
    height: 44px;
    background-color: #fff;
  }

  .header__button-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
  }

  .nav-box {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .header__menu {
    display: none;
  }

  .header__button-two {
    display: none;
  }

  .header-box {
    padding: 38px 0;
  }

  .nav {
    margin: 0 auto;
  }

  .nav-box {
    padding: 0;
  }

  .nav-list {
    display: flex;
    gap: 35px;
  }

  .nav-list__link {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
  }
}/*# sourceMappingURL=index.css.map */