body {
  width: 100%;
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin: 0 auto;
}

.is-open {
  opacity: 0;
}

.conteiner {
  box-sizing: content-box;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .conteiner {
    width: 768px;
  }
}
@media screen and (max-width: 767px) {
  .conteiner {
    width: 100%;
  }
}
@media screen and (min-width: 1081px) {
  .conteiner {
    width: 1081px;
  }
}
:root {
  --focus-pinc-color: #d41443;
  --accent-salmon-color: #FFA5BA;
  --text-black-color: black;
  --text-gray-color: #907E82;
  --focus-white-color: #ffffff;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  transition: background-color 250ms linear;
}

.header-box {
  padding-top: 6px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1538461538;
  color: #d41443;
}

.logo__photo {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__menu {
  position: relative;
  z-index: 5;
  margin-left: auto;
}

.header__dutton-end {
  position: absolute;
  z-index: 1001;
  top: 23px;
  right: 28px;
}

.header__button {
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
}
.header__button svg {
  margin-left: 24px;
}
.header__button:hover, .header__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header__button-two {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  background-color: #fff;
}

.nav-list {
  display: grid;
  gap: 22px;
}

.nav-list__link {
  position: relative;
  z-index: 5;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #fff;
}
.nav-list__link--color {
  color: #d41443;
}

.nav-list__link-decoration-r {
  position: absolute;
  top: 0;
  right: -10px;
  display: block;
  color: #d41443;
  transform: translate(25px);
  opacity: 0;
  transition: transform 250ms linear, opacity 250ms linear;
}
.nav-list__link:hover .nav-list__link-decoration-r, .nav-list__link:focus .nav-list__link-decoration-r {
  transform: translate(0);
  opacity: 1;
}

.nav-list__link-decoration-l {
  position: absolute;
  top: 0;
  left: -10px;
  display: block;
  color: #d41443;
  transform: translate(-25px);
  opacity: 0;
  transition: transform 250ms linear, opacity 250ms linear;
}
.nav-list__link:hover .nav-list__link-decoration-l, .nav-list__link:focus .nav-list__link-decoration-l {
  transform: translate(0);
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .header__button-one {
    display: none;
  }
}
@media screen and (max-width: 999px) {
  .nav-box {
    padding: 60px 21px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: #e17992;
    transform: translate(100%);
    opacity: 0;
    transition: transform 250ms linear, opacity 250ms linear;
  }
  .nav--show {
    transform: translate(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .header-box {
    padding-top: 37px;
    padding-bottom: 20px;
  }

  .header__menu {
    margin-right: 30px;
  }

  .header__button svg {
    margin-left: 12px;
  }

  .header__button-one {
    width: 160px;
    height: 44px;
    background-color: #fff;
  }

  .header__button-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
  }

  .nav-box {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1000px) {
  .header__dutton-end {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header__menu {
    display: none;
  }

  .header__button-two {
    display: none;
  }

  .nav {
    margin: 0 auto;
    z-index: 1001;
  }

  .nav-box {
    padding: 0;
  }

  .nav-list {
    display: flex;
    gap: 35px;
  }

  .nav-list__link {
    position: relative;
    z-index: 1001;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
  }
}
.hero {
  background-color: #ffb8ca;
}
@media screen and (min-width: 1000px) {
  .hero {
    padding-top: 87px;
    padding-bottom: 61px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero {
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    position: relative;
  }
}

.hero-box {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-box {
    position: relative;
    display: flex;
  }
}

.hero-text-cont {
  width: 277px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text-cont {
    width: 162px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-text-cont {
    width: 218px;
    position: relative;
    z-index: 5;
  }
}

.hero-text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 70px;
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text {
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.14;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-text {
    padding-top: 137px;
    font-size: 26px;
    line-height: 1.15;
  }
}
.hero-text .passion {
  font-size: 58px;
  line-height: 0.89;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text .passion {
    font-size: 34px;
    line-height: 0.91;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-text .passion {
    font-size: 48px;
    line-height: 0.96;
  }
}

.hero-button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
  margin-top: 25px;
  transition: all var(--main-transision);
}
@media screen and (min-width: 320px) and (max-width: 999px) {
  .hero-button {
    margin-top: 20px;
    font-size: 8px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-button {
    margin-top: 19px;
    margin-bottom: 151px;
  }
}
.hero-button.first {
  width: 104px;
  height: 40px;
  background-color: var(--focus-pinc-color);
  color: var(--focus-white-color);
}
@media screen and (min-width: 320px) and (max-width: 999px) {
  .hero-button.first {
    width: 63px;
    height: 24px;
  }
}
.hero-button.first:hover, .hero-button.first:focus {
  background-color: #be133e;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero-button.second {
  width: 138px;
  height: 40px;
  background-color: var(--focus-white-color);
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 320px) and (max-width: 999px) {
  .hero-button.second {
    width: 83px;
    height: 24px;
  }
}
.hero-button.second:hover, .hero-button.second:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exelents {
  position: relative;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents {
    margin-top: 19px;
  }
}
@media screen and (max-width: 767px) {
  .exelents {
    display: none;
  }
}

.exelent-cont {
  position: absolute;
  left: 194px;
  bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelent-cont {
    left: 124px;
  }
}
@media screen and (max-width: 767px) {
  .exelent-cont {
    display: none;
  }
}

.exelents__img {
  display: block;
}
.exelents__img img {
  width: 188px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents__img img {
    width: 124px;
  }
}
@media screen and (max-width: 767px) {
  .exelents__img {
    display: none;
  }
}

.exelents-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--focus-white-color);
  width: 200px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents-text {
    width: 110px;
    font-size: 8px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 767px) {
  .exelents-text {
    display: none;
  }
}

.exelents__link {
  margin-top: 16px;
  width: 25px;
  height: 25px;
  background-color: var(--focus-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--main-transision);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents__link {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
}
.exelents__link:hover, .exelents__link:focus {
  background-color: var(--focus-pinc-color);
}
@media screen and (max-width: 767px) {
  .exelents__link {
    display: none;
  }
}

.exelents__icon {
  width: 8px;
  height: 8px;
  fill: var(--focus-pinc-color);
  transition: all var(--main-transision);
}
.exelents__link:hover .exelents__icon, .exelents__link:focus .exelents__icon {
  fill: var(--focus-white-color);
}
@media screen and (max-width: 767px) {
  .exelents__icon {
    display: none;
  }
}

.hero-box-second {
  position: absolute;
  left: 360px;
  bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-box-second {
    left: 307px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-box-second {
    position: absolute;
    top: 27px;
    left: 36px;
  }
}

.hero-ice-cream {
  position: relative;
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: #ffa5ba;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream {
    right: -10px;
    width: 324px;
    height: 322px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-ice-cream {
    width: 346px;
    height: 344px;
    right: -36px;
    top: 0;
  }
}

.hero-ice-cream__img {
  position: absolute;
  bottom: -79px;
  left: 119px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream__img {
    bottom: -38px;
    left: 71px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-ice-cream__img {
    bottom: -73px;
    left: 81px;
  }
}
.hero-ice-cream__img img {
  width: 236px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream__img img {
    width: 143px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-ice-cream__img img {
    width: 171px;
    left: 50px;
  }
}

.hero-girl__img {
  position: absolute;
  bottom: -71px;
  left: 403px;
  width: 293px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-girl__img {
    width: 168px;
    left: 250px;
    bottom: -38px;
  }
}
@media screen and (max-width: 767px) {
  .hero-girl__img {
    display: none;
  }
}

.count {
  position: absolute;
  right: 20px;
  top: 74px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .count {
    top: 12px;
  }
}
@media screen and (max-width: 767px) {
  .count {
    display: none;
  }
}

.number {
  z-index: 2;
  position: relative;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .number {
    font-size: 28px;
    line-height: 1.14;
  }
}

.circle-first {
  display: block;
  position: absolute;
  top: -4px;
  right: -17px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .circle-first {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -2px;
  }
}

.circle-second {
  display: block;
  position: absolute;
  bottom: 45px;
  right: -17px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .circle-second {
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: 27px;
  }
}

.count-item:not(:last-child) {
  margin-bottom: 15px;
}

.kind {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: right;
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .kind {
    font-size: 8px;
    line-height: 1.25;
  }
}

.section-products {
  background-color: #fff;
  color: #fff;
}

.products {
  padding-top: 121px;
  padding-bottom: 98px;
  text-align: center;
}

.products-list-box {
  margin-top: -139px;
  padding: 0 40px;
  padding-top: 161px;
  padding-bottom: 40px;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  background-color: #ffb8ca;
}

.products__text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #ffa5ba;
}

.products-header {
  margin-top: 15px;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.1470588235;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #d41443;
}

.products-list {
  margin-top: 31px;
}

.products-list__element {
  position: relative;
  margin: 0 auto;
}
.products-list__element:nth-child(2) .products-list-box {
  background-color: #f0d1a5;
}
.products-list__element:last-child .products-list-box {
  background-color: #c2e297;
}
.products-list__element:not(:first-child) {
  margin-top: 17px;
}

.products-list__photo {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 249px;
  height: 252px;
}

.products-list__header,
.products-list__decoration {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 0.04em;
}

.products-list__decoration {
  display: block;
  margin-top: 30px;
}

.products-list__text {
  margin-top: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
}

.button__arrow--size {
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #d41443;
  background-color: #fff;
  transform: scale(1);
  transition: transform 250ms linear, color 250ms linear, background-color 250ms linear;
}
.button__arrow--size svg {
  fill: currentColor;
}
.button__arrow--size:hover, .button__arrow--size:focus {
  color: #fff;
  background-color: #d41443;
}
.button__arrow--size:active {
  transform: scale(0.9);
}

.card__touch {
  width: 50px;
  margin: 0 auto;
  margin-top: 60px;
}

.products-list__element {
  width: 280px;
  height: 598px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.front,
.back {
  z-index: 9;
  position: absolute;
  width: 100%;
  transition: 500ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
.back-box {
  height: 100%;
  background-color: #ffb8ca;
  padding: 44px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

@media screen and (max-width: 767px) {
  .products-list__element {
    max-width: 280px;
  }
}
@media screen and (min-width: 768px) {
  .products-list__element {
    width: 220px;
    height: 589px;
  }

  .products-list-box {
    margin-top: -122px;
    padding: 0 11px;
    padding-top: 152px;
    padding-bottom: 11px;
    width: 220px;
    height: 485px;
  }

  .products__text {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.1538461538;
  }

  .products-header {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 1.1458333333;
  }

  .products {
    padding-bottom: 112px;
  }

  .products-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products-list__photo {
    width: 220px;
    height: 233px;
  }

  .products-list__text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7857142857;
  }

  .products-list .products-list__element {
    margin-top: 0;
  }

  .button__arrow--size {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1000px) {
  .products-list__element {
    width: 335px;
    height: 735px;
  }

  .products {
    padding-top: 127px;
    padding-bottom: 119px;
  }

  .products-list-box {
    margin-top: -125px;
    padding: 0 44px;
    padding-top: 163px;
    padding-bottom: 44px;
    width: 100%;
    height: 525px;
  }

  .products__text {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.1333333333;
  }

  .products-header {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.1379310345;
  }

  .products-list__photo {
    width: 335px;
    height: 335px;
  }

  .products-list__header {
    font-family: "Titan One";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.1333333333;
  }

  .products-list__text {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7857142857;
    letter-spacing: 0.04em;
  }

  .products-list__decoration {
    margin: 32px 0;
  }

  .products-list {
    margin-top: 49px;
    justify-content: space-between;
  }

  .button__arrow--size {
    margin-top: 57px;
  }
}
.how-it-made {
  background-color: #fff5f6;
  padding-top: 125px;
  padding-bottom: 310px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767px) {
  .how-it-made {
    padding-top: 125px;
    padding-bottom: 145px;
    background-image: url(../images/how-its-made/cow-fon-mobail-320.png);
    background-position: 0 766px;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .how-it-made {
    background-image: url(../images/how-its-made/cow-fon-mobail-640.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .how-it-made {
    padding-top: 130px;
    padding-bottom: 242px;
  }
}
@media screen and (min-width: 1000px) {
  .how-it-made {
    background-image: url(../images/how-its-made/cow-fon-desctop-1280.png);
    max-width: 100vw;
    background-position: 0 308px;
  }
}
@media screen and (min-width: 1000px) and (min-device-pixel-ratio: 2), screen and (min-width: 1000px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1000px) and (min-resolution: 192dpi), screen and (min-width: 1000px) and (min-resolution: 2dppx) {
  .how-it-made {
    background-image: url(../images/how-its-made/cow-fon-desctop-2560.png);
  }
}

@media screen and (min-width: 768px) {
  .back-cont {
    display: flex;
  }
}

.prepare-list {
  display: block;
  text-align: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.prepare-title-first {
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  margin-bottom: 15px;
  color: var(--accent-salmon-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-title-first {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-title-first {
    font-size: 18px;
    line-height: 1.17;
  }
}

.prepare-title-second {
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-title-second {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-title-second {
    font-size: 34px;
    line-height: 1.15;
  }
}

.prepare__img {
  display: block;
  margin-top: 55px;
}
.prepare__img img {
  width: 516px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare__img img {
    width: 340px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare__img img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare__img {
    margin-top: 50px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare__img {
    margin-top: 26px;
  }
}

.prepare-text-list {
  margin-left: 74px;
  margin-top: 106px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.04em;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-text-list {
    margin-left: 17px;
    margin-top: 100px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-text-list {
    margin-top: 46px;
    margin-bottom: 39px;
    margin-left: auto;
    margin-right: auto;
  }
}

.prepare-text-item-first {
  margin-bottom: 35px;
}
@media screen and (min-width: 320px) and (max-width: 999px) {
  .prepare-text-item-first {
    margin-bottom: 47px;
  }
  .prepare-text-item-first.mobile-first {
    margin-bottom: 20px;
  }
}

.prepare-text-item-second {
  margin-bottom: 45px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-text-item-second {
    margin-bottom: 62px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-text-item-second {
    margin-bottom: 17px;
  }
}

.prepare-text-first {
  font-size: 16px;
  line-height: 1.76;
  color: var(--text-black-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-text-first {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-text-first {
    font-size: 12px;
    line-height: 1.62;
  }
}

.prepare-text-second {
  font-size: 14px;
  line-height: 1.94;
  color: var(--text-gray-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .prepare-text-second {
    font-size: 14px;
    line-height: 1.76;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .prepare-text-second {
    font-size: 12px;
    line-height: 1.62;
  }
}

.prepare-button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  align-items: baseline;
  color: var(--focus-pinc-color);
  padding: 10px 37px;
  width: 176px;
  height: 44px;
  border-radius: 22px;
  border: 1px solid #ecebeb;
  background-color: var(--focus-white-color);
  transition: all var(--main-transition);
}
.prepare-button:hover, .prepare-button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.prepare__icon {
  width: 8px;
  height: 8px;
  margin-left: 9px;
}

.recepie {
  margin-top: 39px;
}
@media screen and (min-width: 768px) {
  .recepie {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .recepie {
    margin-top: 66px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .recepie {
    margin-top: 39px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .recepie-item:not(:last-child) {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .recepie-item:not(:last-child) {
    margin-right: 60px;
  }
}

.recepie-img-first {
  width: 33px;
  height: 50px;
}

.recepie-img-second {
  width: 50px;
  height: 50px;
}

.recepie-img-third {
  width: 44px;
  height: 50px;
}

.recepie-count {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-pinc-color);
  margin-top: 40px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .recepie-count {
    font-size: 48px;
    line-height: 1.15;
    margin-top: 36px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .recepie-count {
    font-size: 36px;
    line-height: 1.14;
    margin-top: 16px;
  }
}

.recepie-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.76;
  letter-spacing: 0.02em;
  color: var(--text-black-color);
  margin-top: 15px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .recepie-text {
    font-size: 14px;
    line-height: 1.74;
    margin-top: 13px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .recepie-text {
    font-size: 12px;
    line-height: 1.7;
    margin-top: 0;
  }
}

.gallery {
  position: relative;
  margin: 0 auto;
  z-index: 2;
}

.gallery .gallety-box {
  position: relative;
  top: -47px;
  left: 50%;
  transform: translateX(-50%);
}

.gallery-list {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 6px;
}

.gallety-list__photo {
  position: relative;
  border-radius: 1.56vw;
  transform: scale(1);
  transition: transform 250ms linear;
}
.gallety-list__photo:hover, .gallety-list__photo:focus {
  cursor: pointer;
  z-index: 10;
  transform: scale(1.15);
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
}

.gallery-list:hover .gallety-list__photo:not(:hover) {
  filter: grayscale(100%);
}

.gallery-list__element {
  margin: 0 auto;
}

.gallery-list__element:nth-child(1) {
  grid-column: 1;
  grid-row: 2;
}

.gallery-list__element:nth-child(2) {
  margin-top: 65%;
  grid-column: 2;
  grid-row: 1/3;
}

.gallery-list__element:nth-child(3) {
  grid-column: 3/5;
  grid-row: 1/3;
}

.gallery-list__element:nth-child(4) {
  margin-top: 75%;
  grid-column: 5;
  grid-row: 1/3;
}

.gallery-list__element:nth-child(5) {
  margin-top: 30%;
  grid-column: 6;
  grid-row: 1/3;
}

.gallery-list__element:nth-child(6) {
  grid-column: 7;
  grid-row: 2;
}

.gallery-list__element:nth-child(7) {
  margin-top: 65%;
  grid-column-start: 2;
  grid-row: 2/4;
}

.gallery-list__element:nth-child(8) {
  grid-column: 3;
  grid-row: 3;
}

.gallery-list__element:nth-child(9) {
  margin-top: 75%;
  grid-column: 5;
  grid-row: 2/4;
}

.gallery-list__element:nth-child(10) {
  margin-top: 30%;
  grid-column: 6;
  grid-row: 2/4;
}

@media screen and (max-width: 767px) {
  .button-gallery {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .gallery .gallety-box {
    top: -109px;
  }
}
@media screen and (min-width: 1000px) {
  .gallery .gallety-box {
    top: -171px;
  }

  .button-gallery {
    display: block;
    margin: 0 auto;
    margin-top: 430px;
  }
}
@media screen and (min-width: 1000px) {
  .slider-section {
    padding-top: 353px;
    padding-bottom: 229px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider-section {
    padding-top: 279px;
    padding-bottom: 197px;
  }
}
@media screen and (max-width: 767px) {
  .slider-section {
    padding-top: 154px;
    padding-bottom: 170px;
  }
}

.slider-person {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .slider-person {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider-person {
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 767px) {
  .slider-person {
    margin-bottom: 24px;
  }
}

.slider-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
}
@media screen and (min-width: 1000px) {
  .slider-text {
    width: 926px;
    height: 138px;
    margin-bottom: 10px;
  }
  .slider-text img {
    width: 822px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider-text {
    width: 620px;
    height: 164px;
    margin-bottom: 24px;
  }
  .slider-text img {
    width: 544px;
  }
}
@media screen and (max-width: 767px) {
  .slider-text {
    width: 280px;
    height: 308px;
    margin-bottom: 35px;
  }
  .slider-text img {
    width: 180px;
  }
}

.slider-dots {
  width: 32px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1000px) {
  .slider-dots {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider-dots {
    margin-bottom: 14px;
  }
}
@media screen and (max-width: 767px) {
  .slider-dots {
    margin-bottom: 18px;
  }
}

.slider-adress {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 1000px) {
  .slider-adress {
    font-size: 20px;
    margin-bottom: 35px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .slider-adress {
    font-size: 16px;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 767px) {
  .slider-adress {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.slick-slider {
  position: relative;
}

.slick-list {
  overflow: hidden;
}

.slick-dots li {
  background-image: url(../images/people/Ellipse.svg);
  background-size: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.slick-dots li button:not(:last-child) {
  margin-right: 18px;
}

.slick-dots li button::before {
  display: none;
}

.slick-dots li.slick-active {
  background-image: url(../images/people/home.png);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}

.schedule {
  background-color: #fff5f6;
}

.schedule-box {
  padding: 0 30px;
  padding-bottom: 113px;
}

.schedule-list {
  position: relative;
  top: -84px;
  display: grid;
  gap: 20px;
}

.schedule-list__element {
  width: 220px;
  margin: 0 auto;
  padding: 43px 20px 43px 21px;
  background-color: #fff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8333333333;
  color: #000;
}

.schedule-list__header {
  display: inline-block;
  padding-right: 24px;
  padding-left: 24px;
  border-radius: 4px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background-color: #f0d1a5;
  color: #fff;
}
.schedule-list__header--color {
  background-color: #c2e297;
}

.schedule-list__citi {
  letter-spacing: 0.04em;
  margin-top: 25px;
}

.schedule-list__text {
  margin-top: 10px;
  line-height: 1.5;
  color: #907e82;
}

.schedule-week__day {
  margin-top: 50px;
}

.schedule-week__time {
  color: #ffa5ba;
}

.schedule-week__day-of {
  margin-top: 10px;
}

.schedule-contact {
  margin-top: 50px;
}

.schedule-contact__link {
  line-height: 1.5;
  color: #907e82;
}

.schedule-list-button {
  margin-top: 54px;
  display: grid;
  gap: 10px;
}

.schedule-list-button__element {
  margin: 0 auto;
}

.schedule__button {
  padding: 15px 17px;
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  background-color: #d41443;
  color: #fff;
  transition: transform 250ms linear, color 250ms linear, background-color 250ms linear;
}
.schedule__button svg {
  margin-left: 10px;
}
.schedule__button:hover, .schedule__button:focus {
  background-color: #fff;
  color: #d41443;
}
.schedule__button--color {
  background-color: #fff;
  color: #d41443;
}
.schedule__button--color:hover, .schedule__button--color:focus {
  background-color: #d41443;
  color: #fff;
}
.schedule__button:active {
  transform: scale(0.9);
}

@media screen and (min-width: 768px) {
  .schedule-box {
    padding: 0;
    padding-bottom: 158px;
  }

  .schedule-list {
    top: -78px;
    display: flex;
  }

  .schedule-list__header {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }

  .schedule-list__element {
    width: 100%;
    padding: 50px 32px 50px 32px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.6428571429;
  }

  .schedule-list__citi {
    margin-top: 30px;
  }

  .schedule-week__day,
.schedule-contact {
    margin-top: 60px;
  }

  .schedule-week__day-of {
    margin-top: 15px;
  }

  .schedule-list-button {
    margin-top: 81px;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .schedule-list-button__element {
    margin: 0;
  }

  .schedule__button {
    padding: 15px 28px;
  }
  .schedule__button svg {
    margin-left: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .schedule {
    background-image: -webkit-image-set(url("../images/schedule/web/schedule-fon-1280.webp") 1x, url("../images/schedule/web/schedule-fon-2560.webp") 2x, url("../images/schedule/schedule-fon-1280.png") 1x, url("../images/schedule/schedule-fon-2560.png") 2x);
    background-image: image-set(url("../images/schedule/web/schedule-fon-1280.webp") 1x, url("../images/schedule/web/schedule-fon-2560.webp") 2x, url("../images/schedule/schedule-fon-1280.png") 1x, url("../images/schedule/schedule-fon-2560.png") 2x);
    background-repeat: no-repeat;
  }

  .schedule-box {
    padding-bottom: 165px;
  }

  .schedule-list {
    top: -102px;
    gap: 31px;
  }

  .schedule-list__element {
    width: 100%;
    padding: 50px 32px 50px 32px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.875;
  }

  .schedule-list__citi {
    margin-top: 32px;
  }

  .schedule-week__day,
.schedule-contact {
    margin-top: 64px;
  }

  .schedule-list-button {
    margin-top: 86px;
  }
}
.footer {
  background-color: #fff5f6;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 97px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer {
    padding-bottom: 91px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer {
    padding-bottom: 43px;
  }
}

.footer-contact {
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .footer-cont {
    display: flex;
  }
}

.footer-title-item {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.footer-title-item:not(:last-child) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer-title-item:not(:last-child) {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-title-item:not(:last-child) {
    margin-bottom: 17px;
  }
}

.title-first {
  font-size: 30px;
  line-height: 1.13;
  letter-spacing: 0.04em;
  color: #ffa5ba;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .title-first {
    font-size: 26px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .title-first {
    font-size: 18px;
    line-height: 1.17;
  }
}

.title-second {
  font-size: 58px;
  line-height: 1.14;
  letter-spacing: 0.06em;
  color: #d41443;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .title-second {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .title-second {
    font-size: 34px;
    line-height: 1.15;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-social {
    margin-top: 43px;
  }
}

.footer-social-item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer-social-item:not(:last-child) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-social-item:not(:last-child) {
    margin-right: 28px;
  }
}
.footer-social-item.social-first {
  margin-left: auto;
}

.social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: #fea5bb;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--main-transition);
}
.social-link:hover, .social-link:focus {
  background-color: var(--focus-pinc-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
}

.footer-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #000000;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .footer-text {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-text {
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
  }
}

.footer-number {
  padding: 20px 0;
  color: var(--focus-pinc-color);
}

.copyright {
  background-color: #fff5f6;
  padding: 9px 0;
}

.copyright-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  letter-spacing: 0.02em;
  color: #907e82;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .copyright-text {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
  }
}/*# sourceMappingURL=index.css.map */