body {
  width: 100%;
  background-color: teal;
}

.none {
  display: none;
}

.hidden {
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input {
  padding: 0;
  margin: 0;
}

button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  margin: 0 auto;
}

.is-open {
  opacity: 0;
}

.conteiner {
  box-sizing: content-box;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .conteiner {
    min-width: 700px;
  }
}
@media screen and (min-width: 1280px) {
  .conteiner {
    max-width: 1050px;
  }
}
:root {
  --focus-pinc-color: #D41443;
  --focus-white-color: #FFFFFF;
  --main-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header {
  background-color: #ffb8ca;
}

.header-box {
  padding-top: 6px;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 1.1538461538;
  color: #d41443;
}

.logo__photo {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header__menu {
  margin-left: auto;
}
.header__menu-end {
  position: absolute;
  z-index: 1000;
  top: 23px;
  right: 28px;
}

.header__button {
  border-radius: 22px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3125;
  color: #d41443;
}
.header__button svg {
  margin-left: 24px;
}

.header__button-two {
  width: 100%;
  height: 44px;
  margin-bottom: 32px;
  background-color: #fff;
}

.nav-list {
  display: grid;
  gap: 22px;
}

.nav-list__link {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2857142857;
  color: #fff;
}
.nav-list__link--color {
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .header__button-one {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  .nav-box {
    padding: 60px 21px;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    width: 250px;
    height: 100%;
    background-color: #e17992;
    transform: translate(100%);
    opacity: 0;
    transition: transform 250ms linear, opacity 250ms linear;
  }
  .nav--show {
    transform: translate(0);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  .header-box {
    padding-top: 37px;
  }

  .header__menu {
    margin-right: 30px;
  }

  .header__button svg {
    margin-left: 12px;
  }

  .header__button-one {
    width: 160px;
    height: 44px;
    background-color: #fff;
  }

  .header__button-two {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 186px;
  }

  .nav-box {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-left: -70px;
  }

  .header__menu {
    display: none;
  }

  .header__button-two {
    display: none;
  }

  .nav {
    margin: 0 auto;
  }

  .nav-box {
    padding: 0;
  }

  .nav-list {
    display: flex;
    gap: 35px;
  }

  .nav-list__link {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
  }
}
.hero {
  background-color: #FFB8CA;
}
@media screen and (min-width: 1000px) {
  .hero {
    padding-bottom: 61px;
  }
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero {
    padding-bottom: 28px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero {
    padding-bottom: 160px;
  }
}

.hero-box {
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-box {
    position: relative;
    display: flex;
  }
}

.hero-text-cont {
  width: 277px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text-cont {
    width: 162px;
  }
}

.hero-text {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 83px;
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text {
    font-size: 22px;
    line-height: 1.14;
  }
}
.hero-text .passion {
  font-size: 58px;
  line-height: 0.89;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-text .passion {
    font-size: 34px;
    line-height: 0.91;
  }
}

.hero-button {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border-color: transparent;
  cursor: pointer;
  margin-top: 25px;
  transition: all var(--main-transision);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-button {
    margin-top: 20px;
    font-size: 8px;
    line-height: 1.25;
  }
}
.hero-button.first {
  width: 104px;
  height: 40px;
  background-color: var(--focus-pinc-color);
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-button.first {
    width: 63px;
    height: 24px;
  }
}
.hero-button.first:hover, .hero-button.first:focus {
  background-color: #be133e;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.hero-button.second {
  width: 138px;
  height: 40px;
  background-color: var(--focus-white-color);
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-button.second {
    width: 83px;
    height: 24px;
  }
}
.hero-button.second:hover, .hero-button.second:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.exelents {
  position: relative;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents {
    margin-top: 19px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelents {
    display: none;
  }
}

.exelent-cont {
  position: absolute;
  left: 194px;
  bottom: 0;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelent-cont {
    left: 124px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelent-cont {
    display: none;
  }
}

.exelents__img {
  display: block;
}
.exelents__img img {
  width: 188px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents__img img {
    width: 124px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelents__img {
    display: none;
  }
}

.exelents-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: var(--focus-white-color);
  width: 200px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents-text {
    width: 110px;
    font-size: 8px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelents-text {
    display: none;
  }
}

.exelents__link {
  margin-top: 16px;
  width: 25px;
  height: 25px;
  background-color: var(--focus-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all var(--main-transision);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .exelents__link {
    width: 18px;
    height: 18px;
    margin-top: 7px;
  }
}
.exelents__link:hover, .exelents__link:focus {
  background-color: var(--focus-pinc-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelents__link {
    display: none;
  }
}

.exelents__icon {
  width: 8px;
  height: 8px;
  fill: var(--focus-pinc-color);
  transition: all var(--main-transision);
}
.exelents__link:hover .exelents__icon, .exelents__link:focus .exelents__icon {
  fill: var(--focus-white-color);
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .exelents__icon {
    display: none;
  }
}

.hero-box-second {
  position: absolute;
  left: 360px;
  bottom: 10px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-box-second {
    left: 307px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-box-second {
    position: relative;
    left: 0;
  }
}

.hero-ice-cream {
  width: 538px;
  height: 538px;
  border-radius: 50%;
  background-color: #FFA5BA;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream {
    width: 324px;
    height: 322px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-ice-cream {
    position: absolute;
    top: 0;
    left: 0;
    width: 346px;
    height: 344px;
  }
}

.hero-ice-cream__img {
  position: absolute;
  bottom: -77px;
  left: 119px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream__img {
    bottom: -38px;
    left: 71px;
  }
}
.hero-ice-cream__img img {
  width: 236px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-ice-cream__img img {
    width: 143px;
  }
}

.hero-girl__img {
  position: absolute;
  bottom: -71px;
  left: 403px;
  width: 293px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .hero-girl__img {
    width: 168px;
    left: 250px;
    bottom: -38px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .hero-girl__img {
    display: none;
  }
}

.count {
  position: absolute;
  right: 20px;
  top: 156px;
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .count {
    top: 94px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .count {
    display: none;
  }
}

.number {
  z-index: 2;
  position: relative;
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 1.15;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--focus-pinc-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .number {
    font-size: 28px;
    line-height: 1.14;
  }
}

.circle-first {
  display: block;
  position: absolute;
  top: -4px;
  right: -17px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .circle-first {
    width: 16px;
    height: 16px;
    right: -8px;
    top: -2px;
  }
}

.circle-second {
  display: block;
  position: absolute;
  bottom: 45px;
  right: -17px;
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .circle-second {
    width: 16px;
    height: 16px;
    right: -8px;
    bottom: 27px;
  }
}

.count-item:not(:last-child) {
  margin-bottom: 15px;
}

.kind {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: right;
  color: var(--focus-white-color);
}
@media screen and (min-width: 768px) and (max-width: 999px) {
  .kind {
    font-size: 8px;
    line-height: 1.25;
  }
}/*# sourceMappingURL=index.css.map */