<section class="gallery">
  <div class="conteiner">
    <div class="gallety-box">
      <h2 class="visually-hidden">gallery</h2>
      <ul class="gallery-list">
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/one.webp" type="image/webp" />
            <img
              src="./images/gallery/one.jpg"
              alt="ice"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/two.webp" type="image/webp" />
            <img
              src="./images/gallery/two.jpg"
              alt="ice cream cone"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source
              srcset="./images/gallery/web/three.webp"
              type="image/webp"
            />
            <img
              src="./images/gallery/three.jpg"
              alt="many ice cream cones"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source
              srcset="./images/gallery/web/foure.webp"
              type="image/webp"
            />
            <img
              src="./images/gallery/foure.jpg"
              alt="ice cream in a bowl"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/five.webp" type="image/webp" />
            <img
              src="./images/gallery/five.jpg"
              alt="dog"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/six.webp" type="image/webp" />
            <img
              src="./images/gallery/six.jpg"
              alt="ice cream in a cup"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source
              srcset="./images/gallery/web/seven.webp"
              type="image/webp"
            />
            <img
              src="./images/gallery/seven.jpg"
              alt="ice cream pie"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source
              srcset="./images/gallery/web/eight.webp"
              type="image/webp"
            />
            <img
              src="./images/gallery/eight.jpg"
              alt="women"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/nine.webp" type="image/webp" />
            <img
              src="./images/gallery/nine.jpg"
              alt="ice cream in hand"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
        <li class="gallery-list__element">
          <picture>
            <source srcset="./images/gallery/web/ten.webp" type="image/webp" />
            <img
              src="./images/gallery/ten.jpg"
              alt="ice coffee"
              class="gallety-list__photo"
              loading="lazy"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>

<div class="slaid-gallery is-hidden">
  <div id="contentContainer" class="trans3d">
    <!-- <section id="carouselContainer" class="trans3d"></section> -->
  </div>
</div>
