<section class="how-it-made" id="how-it-made">
    <div class="conteiner">
        <ul class="prepare-list">
            <li class="prepare-item">
                <p class="prepare-title-first">tradition and love </p>
            </li>
            <li class="prepare-item">
                <p class="prepare-title-second">how it`s made?</p>
            </li>
        </ul>
    <div class="back-cont">
                <picture class="prepare__img">
                    <source srcset="
                        ./images/how-its-made/cow-desctop-516-min.png 1x,
                        ./images/how-its-made/cow-desctop-1032-min.png 2x " type="image/png" media="(min-width: 1000px)" />
                    <source srcset="
                         ./images/how-its-made/cow-tablet-340-min.png 1x,
                        ./images/how-its-made/cow-tablet-680-min.png 2x" type="image/png" media="(min-width: 768px)" />
                    <source srcset="
                         ./images/how-its-made/cow-mobail-280-min.png 1x,
                        ./images/how-its-made/cow-mobail-560-min.png 2x" media="(min-width: 768px)" />
                
                    <img srcset="
                        ./images/how-its-made/cow-desctop-516-min.png 1x,
                        ./images/how-its-made/cow-desctop-1032-min.png 2x" src="./images/how-its-made/cow-desctop-1032-min.png"
                        alt="milk" />
                </picture>
                
                <ul class="prepare-text-list">
                    <li class="prepare-text-item-first">
                        <p class="prepare-text-first">Fusce ut velit laoreet, tempus arcu eu, molestie tortor. <br>Nam vel justo
                            cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.</br></p>
                    </li>
                    <li class="prepare-text-item-first mobile-first">
                        <p class="prepare-text-second">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
                            Mauris rhoncus orci in imperdiet placerat. <br>Vestibulum euismod nisl suscipit ligula volutpat, a
                            feugiat urna maximus. Cras massa nibh, tincidunt.</br>
                        </p>
                    </li>
                    <li class="prepare-text-item-second">
                        <p class="prepare-text-second">Aliquam erat volutpat. Aenean accumsan.</p>
                    </li>
                    <li class="prepare-text-item">
                        <button class="prepare-button" >Read more
                            <svg class="prepare__icon">
                                <use href="./images/sprite.svg#arrow-short"></use>
                            </svg>
                        </button>
                    </li>
                </ul>
    </div>

        <ul class="recepie" id="recepie">
            <li class="recepie-item">
                <img class="recepie-img-first" srcset="./images/how-its-made/icon1.png 1x, ./images/how-its-made/icon1@2x.png 2x" src="./images/how-its-made/icon1@2x.png" alt="milk">
                <p class="recepie-count">721</p>
                <p class="recepie-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="recepie-item">
                <img class="recepie-img-second" srcset="./images/how-its-made/icon2.png 1x, ./images/how-its-made/icon2@2x.png 2x" src="./images/how-its-made/icon2@2x.png" alt="milk">
                <p class="recepie-count">16kg</p>
                <p class="recepie-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="recepie-item">
                <img class="recepie-img-third" srcset="./images/how-its-made/icon3.png 1x, ./images/how-its-made/icon3@2x.png 2x" src="./images/how-its-made/icon3@2x.png" alt="milk">
                <p class="recepie-count">84</p>
                <p class="recepie-text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>

    </div>
</section>