<section class="section-products" id="section-products">
  <div class="conteiner">
    <div class="products">
      <p class="products__text">100% natural</p>
      <h2 class="products-header">products</h2>
      <ul class="products-list">
        <li class="products-list__element">
          <div class="card" id="ice-cream">
            <div class="front">
              <picture>
                <source
                  srcset="
                    ./images/products/ice-cream/web/ice-cream-desctop-335-min.webp 1x,
                    ./images/products/ice-cream/web/ice-cream-desctop-670-min.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-cream/web/ice-cream-tablet-220-min.webp 1x,
                    ./images/products/ice-cream/web/ice-cream-tablet-440-min.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1279px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-cream/web/ice-cream-mobail-249-min.webp 1x,
                    ./images/products/ice-cream/web/ice-cream-mobail-498-min.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-cream/ice-cream-desctop-335-min.png 1x,
                    ./images/products/ice-cream/ice-cream-desctop-670-min.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/ice-cream/ice-cream-tablet-220-min.png 1x,
                    ./images/products/ice-cream/ice-cream-tablet-440-min.png 2x
                  "
                  media="(min-width: 768px) and (max-width: 1279px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/ice-cream/ice-cream-mobail-249-min.png 1x,
                    ./images/products/ice-cream/ice-cream-mobail-498-min.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="products-list__photo"
                  src="./images/products/ice-cream/ice-cream-desctop-335-min.png"
                  alt="ice cream"
                  loading="lazy"
                />
              </picture>
              <div class="products-list-box products-list-box--fon-one">
                <h3 class="products-list__header">ice cream</h3>
                <span class="products-list__decoration">...</span>

                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et
                </p>
                <button class="button__arrow--size" data-id="ice-cream">
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>

            <div class="back">
              <div class="back-box">
                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et Lorem ipsum dolor sit amet,
                </p>

                <button class="button__arrow--size-end">
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="products-list__element">
          <div class="card" id="ice-coffee">
            <div class="front">
              <picture>
                <source
                  srcset="
                    ./images/products/ice-coffee/web/ice-coffee-desctop-337-min.webp 1x,
                    ./images/products/ice-coffee/web/ice-coffee-desctop-674-min.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-coffee/web/ice-coffee-tablet-220-min.webp 1x,
                    ./images/products/ice-coffee/web/ice-coffee-tablet-440-min.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1279px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-coffee/web/ice-coffee-mobail-249-min.webp 1x,
                    ./images/products/ice-coffee/web/ice-coffee-mobail-498-min.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/ice-coffee/ice-coffee-desctop-337-min.png 1x,
                    ./images/products/ice-coffee/ice-coffee-desctop-674-min.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/ice-coffee/ice-coffee-tablet-220-min.png 1x,
                    ./images/products/ice-coffee/ice-coffee-tablet-440-min.png 2x
                  "
                  media="(min-width: 768px) and (max-width: 1199px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/ice-coffee/ice-coffee-mobail-249-min.png 1x,
                    ./images/products/ice-coffee/ice-coffee-mobail-498-min.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="products-list__photo"
                  src="./images/products/ice-coffee/ice-coffee-desctop-337-min.png"
                  alt="ice coffee"
                  loading="lazy"
                />
              </picture>

              <div class="products-list-box products-list-box--fon-two">
                <h3 class="products-list__header">ice coffee</h3>
                <span class="products-list__decoration">...</span>

                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et
                </p>
                <button
                  class="button__arrow button__arrow--size"
                  data-id="ice-coffee"
                >
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>

            <div class="back">
              <div class="back-box">
                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et Lorem ipsum dolor sit amet,
                </p>

                <button class="button__arrow--size-end">
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </li>
        <li class="products-list__element">
          <div class="card" id="milkshakes">
            <div class="front">
              <picture>
                <source
                  srcset="
                    ./images/products/millkshakes/web/milkshakes-desctop-335-min.webp 1x,
                    ./images/products/millkshakes/web/milkshakes-desctop-670-min.webp 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/millkshakes/web/milkshakes-tablet-220-min.webp 1x,
                    ./images/products/millkshakes/web/milkshakes-tablet-440-min.webp 2x
                  "
                  media="(min-width: 768px) and (max-width: 1279px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/millkshakes/web/milkshakes-mobail-249-min.webp 1x,
                    ./images/products/millkshakes/web/milkshakes-mobail-498-min.webp 2x
                  "
                  media="(max-width: 767px)"
                  type="image/webp"
                />
                <source
                  srcset="
                    ./images/products/millkshakes/milkshakes-desctop-335-min.png 1x,
                    ./images/products/millkshakes/milkshakes-desctop-670-min.png 2x
                  "
                  media="(min-width: 1280px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/millkshakes/milkshakes-tablet-220-min.png 1x,
                    ./images/products/millkshakes/milkshakes-tablet-440-min.png 2x
                  "
                  media="(min-width: 768px) and (max-width: 1279px)"
                  type="image/png"
                />
                <source
                  srcset="
                    ./images/products/millkshakes/milkshakes-mobail-249-min.png 1x,
                    ./images/products/millkshakes/milkshakes-mobail-498-min.png 2x
                  "
                  media="(max-width: 767px)"
                  type="image/png"
                />
                <img
                  class="products-list__photo"
                  src="./images/products/millkshakes/milkshakes-desctop-335-min.png"
                  alt="millkshakes"
                  loading="lazy"
                />
              </picture>

              <div class="products-list-box products-list-box--fon-three">
                <h3 class="products-list__header">milkshakes</h3>
                <span class="products-list__decoration">...</span>

                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et
                </p>
                <button
                  class="button__arrow button__arrow--size"
                  data-id="milkshakes"
                >
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>

            <div class="back">
              <div class="back-box">
                <p class="products-list__text">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et Lorem ipsum dolor
                  sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et Lorem ipsum dolor sit amet,
                </p>

                <button class="button__arrow--size-end">
                  <svg height="12">
                    <use href="./images/sprite.svg#arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
