
<section class="slider-section">
  <div class="conteiner">
<div class="slider one-time">
<div class="slider-item">
          <img class="slider-person" srcset="
                        ./images/people/people-one-85-min.jpg 1x,
                        ./images/people/people-one-170-min.jpg 2x
                      " src="./images/people/people-one-170-min.jpg" alt="milk" />
        <div class="slider-text">
    <picture class="slider-text-img">
      <source srcset="
                ./images/people/Group_desc1x.png 1x,
                ./images/people/Group_desk2x.png 2x
                " type="image/png" media="(min-width: 1000px)" />
      <source srcset="
                ./images/people/Group_tab1x.png 1x,
                ./images/people/Group_tab2x.png 2x
                " type="image/png" media="(min-width: 768px)" />
      <source srcset="
                ./images/people/Group_mob1x.png 1x,
                ./images/people/Group_mob2x.png 2x
                " media="(max-width: 767px)" />
    
      <img srcset="
                ./images/people/Group_desc1x.png 1x,
                ./images/people/Group_desk2x.png 2x
                " src="./images/people/Group_desk2x.png" alt="milk" />
    </picture>
    </div>                  
          <img class="slider-dots" srcset="
                        ./images/people/Group-8@1x.png 1x,
                        ./images/people/Group-8@2x.png 2x
                      " src="./images/people/Group-8@2x.png" alt="milk" />

          <p class="slider-adress">Emily, Los Angeles</p>
</div>
<div class="slider-item">
          <img class="slider-person" srcset="
                        ./images/people/people-two-85-min.jpg 1x,
                        ./images/people/people-two-170-min.jpg 2x
                      " src="./images/people/people-two-170-min.jpg" alt="milk" />
    <div class="slider-text">
  <picture class="slider-text-img">
    <source srcset="
            ./images/people/Group_desc1x.png 1x,
            ./images/people/Group_desk2x.png 2x
            " type="image/png" media="(min-width: 1000px)" />
    <source srcset="
            ./images/people/Group_tab1x.png 1x,
            ./images/people/Group_tab2x.png 2x
            " type="image/png" media="(min-width: 768px)" />
    <source srcset="
            ./images/people/Group_mob1x.png 1x,
            ./images/people/Group_mob2x.png 2x
            " media="(max-width: 767px)" />

    <img srcset="
            ./images/people/Group_desc1x.png 1x,
            ./images/people/Group_desk2x.png 2x
            " src="./images/people/Group_desk2x.png" alt="milk" />
</picture> 
          </div>                    
          <img class="slider-dots" srcset="
                        ./images/people/Group-8@1x.png 1x,
                        ./images/people/Group-8@2x.png 2x
                      " src="./images/people/Group-8@2x.png" alt="milk" />


          <p class="slider-adress">Petra, Madrid</p>
</div>
<div class="slider-item">
          <img class="slider-person" srcset="
                        ./images/people/people-three-85-min.jpg 1x,
                        ./images/people/people-three-170-min.jpg 2x
                      " src="./images/people/people-three-170-min.jpg" alt="milk" />
<div class="slider-text">
      <picture class="slider-text-img">
        <source srcset="
                  ./images/people/Group_desc1x.png 1x,
                  ./images/people/Group_desk2x.png 2x
                  " type="image/png" media="(min-width: 1000px)" />
        <source srcset="
                  ./images/people/Group_tab1x.png 1x,
                  ./images/people/Group_tab2x.png 2x
                  " type="image/png" media="(min-width: 768px)" />
        <source srcset="
                  ./images/people/Group_mob1x.png 1x,
                  ./images/people/Group_mob2x.png 2x
                  " media="(max-width: 767px)" />
      
        <img srcset="
                  ./images/people/Group_desc1x.png 1x,
                  ./images/people/Group_desk2x.png 2x
                  " src="./images/people/Group_desk2x.png" alt="milk" />
      </picture>
      </div>
          <img class="slider-dots" srcset="
                        ./images/people/Group-8@1x.png 1x,
                        ./images/people/Group-8@2x.png 2x
                      " src="./images/people/Group-8@2x.png" alt="milk" />
      
          <p class="slider-adress">Ariana, New-York</p>
</div>

</div>  
</div>
</section>
