<section class="schedule" id="schedule">
  <div class="conteiner">
    <div class="schedule-box">
      <h2 class="visually-hidden">schedule</h2>
      <ul class="schedule-list">
        <li class="schedule-list__element">
          <h3 class="schedule-list__header">cafe</h3>
          <p class="schedule-list__citi">Chicago</p>
          <p class="schedule-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedule-week">
            <li class="schedule-week__element">
              <p class="schedule-week__day">Monday &mdash; Friday</p>
              <p class="schedule-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="schedule-week__element">
              <p class="schedule-week__day-of">Saturday &mdash; Sunday</p>
              <p class="schedule-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="schedule-contact">
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="schedule-list__element">
          <h3 class="schedule-list__header schedule-list__header--color">
            food truck
          </h3>
          <p class="schedule-list__citi">Los Angeles</p>
          <p class="schedule-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedule-week">
            <li class="schedule-week__element">
              <p class="schedule-week__day">Monday &mdash; Friday</p>
              <p class="schedule-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="schedule-week__element">
              <p class="schedule-week__day-of">Saturday &mdash; Sunday</p>
              <p class="schedule-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="schedule-contact">
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
        <li class="schedule-list__element">
          <h3 class="schedule-list__header">cafe</h3>
          <p class="schedule-list__citi">New York</p>
          <p class="schedule-list__text">
            Fusce ut velit laoreet, tempus arcu molestie vulputate
          </p>
          <ul class="schedule-week">
            <li class="schedule-week__element">
              <p class="schedule-week__day">Monday &mdash; Friday</p>
              <p class="schedule-week__time">06:00 AM &mdash; 10:00 PM</p>
            </li>
            <li class="schedule-week__element">
              <p class="schedule-week__day-of">Saturday &mdash; Sunday</p>
              <p class="schedule-week__time">08:00 AM &mdash; 16:00 PM</p>
            </li>
          </ul>
          <ul class="schedule-contact">
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="tel:+610383766284"
                >+61(0) 383 766 284
              </a>
            </li>
            <li class="schedule-contact__element">
              <a class="schedule-contact__link" href="mailto:noreply@envato.com"
                >noreply@envato.com</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul class="schedule-list-button">
        <li class="schedule-list-button__element">
          <button class="button schedule__button" type="button">
            Our Locations
            <svg width="8" height="12">
              <use href="./images/sprite.svg#arrow-short-white"></use>
            </svg>
          </button>
        </li>
        <li class="schedule-list-button__element">
          <button
            class="button schedule__button schedule__button--color"
            type="button"
          >
            Franchise
            <svg width="8" height="12">
              <use href="./images/sprite.svg#arrow-short"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
